.heading {
    background-color: #333;
    display: flex;
    flex-direction: row;
}

nav {
    width: 699px;
    height: 50px;
}

.navBar {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 12vh;
    align-items: center;
    padding-left: 1vw;
    padding-right: 1vw;
}

.navLink {
    color: rgb(143, 142, 142);
    text-decoration: none;
}

.navLink:hover {
    color: #fff;
}

.logo {
    width: 185px;
    height: 60px;
}

.yourTeamDisplay {
    display: flex;
    flex-direction: row;
}

.pokiBoard {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.circleNames {
    background-color: #020202;
    border-radius: 50%;
}

#bannerTitleh2 {
    background-image: url("https://www.pokemonteambuilder.net/static/hdr.jpg");
}